    .container_main{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        height: 60vh;
        .container_main2{
            display: flex;
            width: 80%;
            height: 100%;
            background-color: #e3e3e3;
            border-radius: 30px;
            .container_article{
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                justify-content: center;
                align-items: center;
                overflow: scroll;
                padding-top: 50px;
                padding-bottom: 50px;

                .linkAdjustment{
                    width: 28%;
                    height: 200px;
                    text-decoration: none;
                    display: flex;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0,0,0,0.3));
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    border-radius: 7px;
                    height: 100%;
                }
                figure{
                    width: 100%;
                    height: 100%;
                }
                figcaption{
                    color: white;
                    font-size: 15px;
                    text-align: start;
                    position: relative;
                    bottom: 30px;
                    left: 10px;
                }
                @media (max-width: 480px){
                    figcaption{
                        bottom: 40px;
                    }
                }
            
               
            }
        }
    }
    @media (max-width: 900px) {
        .container_main{
            width: 100%;
            max-width: 100%;
            .container_main2{
                width: 95%;
                justify-content: center;
                .container_article{
                    width: 90%;
                    .linkAdjustment{
                        display: flex;
                        width: 100%;
                    }
    
                }       
            }  
       
        }
        
    }


